/**
*
* Designästhetik CSS File
*
* General CSS
* 
**/

.flex {
	display: flex;
}

.h-center {
	justify-content: center;
}

.v-center {
	align-items: center;
}

.button.button-outline {
	color: #fff;
	border-color: #fff;
	transition: box-shadow .2s;
}

.button.button-outline:hover {
	color: #fff;
	border-color: #fff;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.5);
}

.hide {
	display: none;
	opacity: 0;
	visibility: hidden;
}